modules = ["nodejs-20", "python-3.11", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true
integrations = ["hubspot:1.0.0", "google-drive:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3000

[userenv]

[userenv.shared]
PORT = "5000"
OPENEMR_CLIENT_ID = "dlHHtxPDc1gS-_hKVxhYvC4MPFLmLGY7G1x-khy8ZjQ"
OPENEMR_CLIENT_SECRET = "wNBD1IFK0j7SaGe2LesgxeqIO2gKipt4pt8vOn1WV0VLkB93__20jKzYsqvisw-5fIgN4oxinddexd393MRsDA"
OPENEMR_BASE_URL = "https://emr.godwinsfamilycarellc.com"
OPENEMR_API_USERNAME = "gfc-app-api"
OPENEMR_API_PASSWORD = "aavdof-6dotwi-tasQyh"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]
